<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>v-on</title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<meta name="viewport" content="width=device-width initial-scale=1.0"/>
		<style>
		</style>
	</head>
	<body>
		<div id="app">
			<h1>模糊搜索-函数表达式</h1>
			<input type="text" placeholder="请输入字母" v-model="inputVal"/>
			<ul>
				<li v-for="item in myfilter()">
					{{item}}
				</li>
			</ul>
			
		</div>
		
	</body>
	<script type="text/javascript">
		var vm = new Vue({
			el:"#app",
			data:{
				inputVal:"",
				dataList:["aaa","bbb","ccc","ddd","add","cee","eee"],
			},
			methods:{
				
				myfilter(){
					return this.dataList.filter(item=>item.includes(this.inputVal));
				}
			}
		})
	</script>
</html>
